{% if breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-print-none">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.current_page %}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}
