php_value upload_max_filesize 40M
php_value post_max_size 42M

AddHandler application/x-httpd-php74 .php .php5 .php4 .php3 .html

# git expoit fix
RedirectMatch 403 ^/.git/.*$

# 404
ErrorDocument 404 /error/404/
<If "%{REQUEST_URI} =~ m#^/api/v1/#">
    ErrorDocument 404 /api/v1/system/errors/404.php?request_uri=%{REQUEST_URI}
</If>

####################
# MAINTENANCE MODE
####################
ErrorDocument 503 /error/maintenance/
<If "-e '%{DOCUMENT_ROOT}/site_maintenance_on'">
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !/error [NC]
	RewriteCond %{REQUEST_URI} !\.(js|css|png|jpg) [NC]

	# serve default 503 response
	RewriteRule .* /error/maintenance/ [R=503,L]
</If>

#############
# TYPES FIX #
#############
AddType text/css .css
AddType text/javascript .js

RewriteEngine on
RewriteRule ^(.*)\.[\d]{10}\.(css|js)$ $1.$2 [L]

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>
