
# 404
ErrorDocument 404 /error/404/
<If "%{REQUEST_URI} =~ m#^/api/v1/#">
    ErrorDocument 404 /api/v1/system/errors/404.php?request_uri=%{REQUEST_URI}
</If>

####################
# MAINTENANCE MODE
####################
ErrorDocument 503 /error/maintenance/
<If "-e '%{DOCUMENT_ROOT}/site_maintenance_on'">
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !/error [NC]
	RewriteCond %{REQUEST_URI} !\.(js|css|png|jpg) [NC]

	# serve default 503 response
	RewriteRule .* /error/maintenance/ [R=503,L]
</If>
