
{% include 'partials/head.twig' %}

<body class="{{ body_class }}" data-current-user-id={{ current_user_id }}>

    {% include 'partials/header.twig' %}

    <main class="main" role="main">
        <div class="container">
            {% include 'partials/breadcrumbs.twig' %}
            {% block main_content %}{% endblock %}
        </div>
    </main>

    {% if show_footer %}

        {% include 'partials/footer.twig' %}

    {% endif %}

</body>
{% include 'partials/foot.twig' %}
