
{% set body_class = "home" %}
{% set show_footer = false %}

{% extends 'base.twig' %}

{% block main_wrapper %}
<div class="intro">
    <figure class="bg"><img src="/assets/images/intro.jpg" alt="" /></figure>

    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">
            <article class="three-fourth text">
                <h1>Welcome to HuntRecipes!</h1>
                <p>The goal of this project is to bring the <strong>Summers with the Hunts</strong> family reunion cookbook to life in the digital age.
                    The fantastic meals we shared along with a host of others are here online as a living library of Hunt recipes that can grow as our clan grows.
                    You can expand on old recipes, share new ones, and bring your unique tastes and experiences to the table.
                </p>
                <p>You don't have to make an account to access the recipes, however, members enjoy additional features like submitting recipes to be added,
                    saving favorites recipes, weekly meal planning.</p>
                <a href="register.php" class="button white more medium">Join our community <i class="fa fa-chevron-right"></i></a>
                <p>Already a member? Click <a href="login.php">here</a> to login.</p>
            </article>

            <!--search recipes widget-->
            <div class="one-fourth">
                <div class="widget container">
                    <div class="textwrap">
                        <h3>Search for recipes</h3>
                        <p>All you need to do is enter an ingredient, a dish or a keyword. </p>
                        <p>You can also select a specific category from the dropdown.</p>
                        <p>There’s sure to be something tempting for you to try.</p>
                        <p>Enjoy!</p>
                    </div>
                    <form action="find_recipe.html">
                        <div class="f-row">
                            <input type="text" placeholder="Enter your search term" />
                        </div>
                        <div class="f-row">
                            <select>
                                <option>or select a category</option>
                                <option>Appetizers</option>
                                <option>Cocktails</option>
                                <option>Deserts</option>
                                <option>Main courses</option>
                                <option>Snacks</option>
                                <option>Soups</option>
                            </select>
                        </div>
                        <div class="f-row bwrap">
                            <input type="submit" value="Start cooking!" />
                        </div>
                    </form>
                </div>
            </div>
            <!--//search recipes widget-->

        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
</div>
{% endblock %}
