{% extends 'emails/email-base.twig' %}

{% block content %}

    <div class="h2">Congratulations! Your Chef application has been approved!</div>

    <div class="p">Welcome to our cooking community! As an official HuntRecipes chef, you can now add and edit recipes to this family cook book.
        You can also offer the friends and family who learn your recipes the opportunity to learn a little more about you through your Chef Profile. This profile highlights your favorite foods, your recipes, and your story.
        It iss completely up to you what you want to make it. Check it out in the link below. </div>

    <div class="p">Thank you again for joining HuntRecipes. By using the site and participating as a chef, you continue the legacy of the Hunt family and honor the amazing people that made this family what it is today. </div>

    <div class="spacer-md">&nbsp;</div>
    <div class="p">Cheers,</div>
    <div class="p">The HuntRecipes Team</div>
    <div class="spacer-sm">&nbsp;</div>

    <div class="p"><a href="https://huntrecipes.willsabol.com/account/?goto=chef">Complete your Chef Profile</a></div>
    <div class="p"><a href="https://huntrecipes.willsabol.com/recipes/recipe/edit/?id=new">Add a Recipe</a></div>

{% endblock %}
