{% extends 'emails/email-base.twig' %}

{% block content %}

    <div class="p">Thank you for your interest in joining HuntRecipes as a chef. After reviewing your application,
        we weren't able to verify your connection to the Hunt family at this time. </div>

    <div class="p">If you believe this was a mistake or
        if you'd like to provide additional information about your connection to the family, please contact us at: </div>
    <div class="p"><a href="https://huntrecipes.willsabol.com/contact/">https://huntrecipes.willsabol.com/contact/</a></div>

    <div class="p">Please feel free to continue using HuntRecipes for inspiration in your cooking where you always have a seat at the table :)</div>

    <div class="spacer-md">&nbsp;</div>
    <div class="p">Regards,</div>
    <div class="p">The HuntRecipes Team</div>
    <div class="spacer-sm">&nbsp;</div>

{% endblock %}
