{% set include_subject_header = 0 %}

{% extends 'emails/email-base.twig' %}

{% block content %}

    <div class="spacer-md">&nbsp;</div>
    <div class="h1" >Here’s your one-time passcode for HuntRecipes</div>
    <div class="spacer-md">&nbsp;</div>

    <div class="p">You can use this temporary passcode to sign in to your HuntRecipes account. It will expire in 15 minutes.</div>

    <div class="p">Once you are signed in, you can reset your password.</div>

    <div class="spacer-sm">&nbsp;</div>

    <div class="h1" style="text-align: center; letter-spacing: 4px">{{ code }}</div>

    <div class="spacer">&nbsp;</div>

    <div class="p">If you did not make this request, please disregard this email.</div>

    <div class="spacer-sm">&nbsp;</div>
    <div class="p">Cheers,</div>
    <div class="p">The HuntRecipes Team</div>
    <div class="spacer-sm">&nbsp;</div>

{% endblock %}
