
{% extends 'emails/email-base.twig' %}

{% block content %}

    <div class="spacer-md">&nbsp;</div>
    <div class="h1">Click to reset your password</div>
    <div class="spacer-sm">&nbsp;</div>

    <div class="p">We received a request to reset your password for your HuntRecipes account. Click the button below to choose a new password.</div>

    <div style="padding: 30px 50px; background: #e4e4e4">
        <a class="btn btn-block" href="http://localhost:89/account/reset/?hash={{ hashed_token }}">Reset my password</a>
    </div>

    <div class="spacer">&nbsp;</div>

    <div class="p">If you didn't request this change, you can safely ignore this email - your password will remain the same.</div>

    <div class="p">For security reasons, this link will expire in 24 hours and will only work once. If you need to reset your password again, please return to HuntRecipes and request another reset link.</div>

    <div class="spacer-sm">&nbsp;</div>
    <div class="p">Cheers,</div>
    <div class="p">The HuntRecipes Team</div>
    <div class="spacer-sm">&nbsp;</div>

{% endblock %}
