{% set include_subject_header = true %}

{% extends 'emails/email-base.twig' %}

{% block content %}

    <div class="p">This email confirms that you have changed your HuntRecipes account password.</div>

    <div class="p">If you feel this has been done in error, please contact us at: </div>
    <div class="p"><a href="https://huntrecipes.willsabol.com/contact/">https://huntrecipes.willsabol.com/contact/</a></div>

    <div class="spacer-md">&nbsp;</div>
    <div class="p">Cheers,</div>
    <div class="p">The HuntRecipes Team</div>
    <div class="spacer-sm">&nbsp;</div>

{% endblock %}
