{% set show_footer = true %}
{% set hide_call_to_action = true %}

{% extends 'base.twig' %}

{% block page_title %}{% endblock %}

{% block main_content %}

    <!--row-->
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <h5 class="card-header text-{{ alert }}">{{ heading }}</h5>
                <div class="card-body">
                    <p>{{ message }}</p>

                    {% if is_valid %}
                        <div class="alert alert-error" id="alert-reset-pwd" style="display:none">
                        </div>

                        <form id="frm-reset-pwd" class="needs-validation" novalidate>
                            <input type="hidden" name="user_id" value="{{ user_id }}" >

                            <div class="mb-3">
                                <label for="password" class="form-label">New Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="password"
                                       autocomplete="new-password"
                                       required
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                <div class="invalid-feedback">
                                    Password must be at least 8 characters and include uppercase, lowercase, and numbers
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="confirm-password" class="form-label">Confirm Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="confirm-password"
                                       autocomplete="new-password"
                                       required>
                                <div class="invalid-feedback">
                                    Passwords do not match
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit New Password</button>

                        </form>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <p><a href="/home/">Go Home</a></p>
                    <p><a href="/account/">Go to My Account</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--//row-->

{% endblock %}
