
{% extends 'base.twig' %}

{% block main_content %}

    <!--row-->
    <div class="row">
        <div class="content pb-5">

            <h2>Pending Applications</h2>
            <div id="pending-app-container"></div>

        </div>

        <div class="content pb-5">

            <h2>Search</h2>
            <div id="search-results"></div>

        </div>
    </div>
    <!--//row-->

{% endblock %}
