
{% extends 'base.twig' %}

{% block main_content %}

    <!--row-->
    <div class="row">
        <div class="content pb-5">

            <h2>Chef Approval</h2>
            <p>Approve incoming applications from users to become Chef's on this platform. This will grant them permission to create and edit recipes or the site.</p>
            <a class="btn btn-primary" href="/admin/chef-approval/">Chef Approval</a>

        </div>
    </div>
    <!--//row-->

{% endblock %}
